<h1>Articles listing page</h1>

<table>
  <thead>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit' %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Home', root_path%>
  <%= link_to 'About', about_path%>
  <%= link_to 'Articles', articles_path%>
</p>